@model GestionReservation.Data.SiegeDisponible

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SiegeDisponible</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeSiege)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeSiege)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVolNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVolNavigation.NumeroVol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSiege">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
