@model IEnumerable<GestionReservation.Data.CompagnieAerienne>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste de Compagnies</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table shadow-lg">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlotteDAvions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlotteDAvions)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCompagnie" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCompagnie" class="btn btn-success">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCompagnie" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
